  
  <div class="container">
    <img src="assets/images/ViMAConfirmation.svg" class="scannerimage">
    <span class="vimatext">Visitor Management Application</span>

    <img src="assets/images/scan-qr-code-for-online-payment.svg" class="scannerimage">


<div class="access-granted">
        <span class="access"> Thank You.</span>
      </div>
    <!-- <button class="submit-btn">OK</button> -->
    <span class="pbytext">Powered by</span>


    <img src="assets/images/Holcim_2021_sRGB_Digital_Hub_GDH.svg">
    
    <!-- <div class="access-granted" style="margin:0% 0% 10% 0%;">
        <span class="access">Access </span>  <span class="granted"> Granted!</span>
      </div> -->
      <!-- <div class="message">
        <span class="txt-styl">Mr. Joe Snow your check-in</span>
        <span class="txt-styl">request is registered and</span>
        <span class="txt-styl">access is granted.</span>
      
        <span class="txt-styl" style="margin:15% 0px 30% 0px;">Thank You!</span>
      </div> -->

      
      </div>
    
  
      